<%= render "shared/main_nav" %>
<main class="container" role="main">
  <!-- <section class="btn-group-sm" role="group">
    <h1 class="subhead col-xs-3">Sort By:</h1>
    <div class="col-xs-9">
    <% sort_categories.each do |text, attr| %>
      <button type="button" class="btn btn-default">
        <span class="subhead"> <%= link_to text, url_with_query(sort: attr) %></span>
      </button>
    <% end %>
    </div>
  </section> -->
  <!-- <hr> -->
  <h3 class="center"><%= page_title %></h3>
  <hr>

  <div>
    <ul class="list-unstyled">
      <% students.each do |student| %>
      <li>
        <section class="media well card">
          <div class="card-info">
          <div class="card-image">
            <% if show_link %>
              <%= link_to student do %>
                <%= image_tag student.image, height: 90, class: "media-object" %>
              <% end %>
            <% else %>
              <%= image_tag student.image, height: 90, class: "media-object" %>
            <% end %>
          </div>
          <div class="media-body">
            <h2 class="media-heading"> 
              <span class="cardTitle">
                <% if show_link %>
                  <%= link_to student.full_name, student %>
                <% else %>
                  <%= student.full_name %>
                <% end %>
              </span>
            </h2>
  
            <p>Age: <%= student.age %> years old</p>
            <p>Joined: <%= student.joined_at.strftime('%B %Y') %></p>
          </div>
          <div class="">
            <%= render student_action, student: student %>
          </div>
          </div>
        </section>
      </li>
      <% end %>
    </ul>
  </div>
</main>
