<%= render "shared/main_nav", back_path: student_path(student), title: "New Note" %>

<section>
  <%= image_tag student.image, height: 100 %>
  <h2><%= student.full_name %></h2>
  <p>Age <%= student.age %></p>
  <p>Program participant since <%= student.joined_at %></p>
  <%= form_for [student, note] do |f| %>
    <fieldset>
      <legend class="sr-only">Note Type</legend>
      <%= f.radio_button :category, :private_ %>
      <%= f.label :category_private_, "Private" %>
      <%= f.radio_button :category, :public_ %>
      <%= f.label :category_public_, "Public" %>
    </fieldset>
    <div>
      <p><% DateTime.now %></p>
      <p>Note by <%= current_user.name %></p>
    </div>
    <div class="form-group">
      <%= f.label :text, class: "sr-only" %>
      <%= f.text_area :text, placeholder: "Enter your new note here..." %>
    </div>
    <%= f.submit %>
  <% end %>
</section>
