<%= render "shared/main_nav" %>

<main class="container" role="main">
  <!-- Student Specific Data -->
  <section class="media well card">
    <div class="card-image">
      <%= image_tag student.image, height: "50%", class: "media-object" %>
    </div>
  </section>
  <section class="media">
    <div class="media-body">
      <h2 class="media-heading"><span class="cardTitle"><%= student.full_name %></span></h2>
      <p>Age <%= student.age %></p>
      <p>Joined program: <%= student.joined_at.strftime("%B %Y") %></p>
      <div class="btn btn-default">
       <span class="subhead"> <%= link_to "+ New Note", new_student_note_path(student) %></span>
      </div>
    </div>
  </section>

  <!-- Note Form -->
  <%= form_for [student, note] do |f| %>
    <% if note.errors.any? %>
      <div class="error-notification">
        The following <%= pluralize(note.errors.count, "error") %> prevented this note from being saved:
        <ul>
          <% note.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
     <div class="mainStudentContent">

    <fieldset>
      <legend>What type of note is this?</legend>

      <% Note.categories.each do |category, _| %>
      <%= f.radio_button :category, category, required: true %>
      <%= f.label "category_#{category}", category.humanize, class:"radioButton"%>
      <% end %>
    </fieldset>
    <div class="form-group">
      <%= check_box_tag :private, "1", note.private_? %>
      <%= label_tag :private %>
    </div>
    <fieldset>
      <legend>How important?</legend>
      <div class="btn-group" data-toggle="buttons"><!-- 
        <%= f.label :importance_low, class: "btn importanceBtn btn-info #{note.low? ? "active" : ""}" do %>
          <%= f.radio_button :importance, :low, required: true %>
          Low
        <% end %>
        <%= f.label :importance_med, class: "btn  importanceBtn btn-warning #{note.med? ? "active" : ""}" do %>
          <%= f.radio_button :importance, :med, required: true %>
          Medium
        <% end %>
        <%= f.label :importance_high, class: "btn importanceBtn btn-danger #{note.high? ? "active" : ""}" do %>
          <%= f.radio_button :importance, :high, required: true %>
          High
        <% end %> <hr/> -->
        <%= f.label :importance_low, class: "btn importanceBtn btn-default #{note.low? ? "active" : ""}" do %>
          <%= f.radio_button :importance, :low, required: true %>
          Low
        <% end %>
        <%= f.label :importance_med, class: "btn importanceBtn btn-default #{note.med? ? "active" : ""}" do %>
          <%= f.radio_button :importance, :med, required: true %>
          Medium
        <% end %>
        <%= f.label :importance_high, class: "btn importanceBtn  btn-default #{note.high? ? "active" : ""}" do %>
          <%= f.radio_button :importance, :high, required: true %>
          High
        <% end %>
      </div>
    </fieldset>
    <fieldset id="mood-fieldset">
      <legend>Select <%= student.given_name %>'s emotional state</legend>
      <div>
        <%= f.radio_button :mood, :good, class: "sr-only mood-radio", required: true %>
        <%= f.label :mood_good, class: "mood-img" do %>
          <%= image_tag "mood_good_trans.png", alt: "Happy", size: "75x75" %>
        <% end %>
        <%= f.radio_button :mood, :neutral, class: "sr-only mood-radio", required: true %>
        <%= f.label :mood_neutral, class: "mood-img" do %>
          <%= image_tag "mood_neutral_trans.png", alt: "Neutral", size: "75x75" %>
        <% end %>
        <%= f.radio_button :mood, :bad, class: "sr-only mood-radio", required: true %>
        <%= f.label :mood_bad, class: "mood-img" do %>
          <%= image_tag "mood_bad_trans.png", alt: "Sad", size: "75x75" %>
        <% end %>
        <%= f.radio_button :mood, :na, class: "sr-only mood-radio", required: true %>
        <%= f.label :mood_na, "N/A", id: "note_mood_na-label" %>
      </div>
    </fieldset>
    <!-- <hr/> -->
    <div class="form-group">
      <legend>
      <%= f.label :text, "Additional Information/Explanation" , id: "expText" %>
      </legend>
      <!-- <div class="well card"> -->
      <%= f.text_area :text, class: "well textEntry", rows: 5, placeholder: "Enter comment..." %>
      <!-- </div> -->
    </div>

    <%= f.submit class: "btn btn-wide" %>
  <% end %>
</div>
</main>
