<nav role="navigation">
  <%= link_to root_path do %>
    <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
    Back
  <% end %>
  
  <h1><%= title %></h1>
  
  <% if add_student %>
    <%= link_to new_student_path do %>
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      <span class="sr-only">Add participant</span>
    <% end %>
  <% end %>
  
  <%= button_to 'Logout', destroy_user_session_path, method: :delete %>
  <%= render "shared/search", model: :student, search_topic: "Participant", attr: :name %>
</nav>

<section>
  <h2>Sort by</h2>
  <ul>
    <li><%= link_to "First Name", request.path_info, sort: :given_name %></li>
    <li><%= link_to "Last Name", request.path_info, sort: :surname %></li>
    <li><%= link_to "Date Joined", request.path_info, sort: :joined_at %></li>
    <li><%= link_to "Age", request.path_info, sort: :age %></li>
  </ul>
</section>

<ul>
  <% students.each do |student| %>
  <li>
    <%= link_to send(path_for_choosing_student, student) do %>
      <%= image_tag student.image, height: 50 %>
    <% end %>
    <p><strong><%= link_to student.full_name, send(path_for_choosing_student, student) %></strong></p>
    <p>Age <%= student.age %></p>
    <p>Program participant since <%= student.joined_at %></p>
  </li>
  <% end %>
</ul>
