<% if notes.exists? %>
  <section>
    <h2>Moods</h2>
    <dl>
      <dt>Positive</dt>
      <dd><%= notes.good_mood_count %></dd>
      <dt>Neutral</dt>
      <dd><%= notes.neutral_mood_count %></dd>
      <dt>Negative</dt>
      <dd><%= notes.bad_mood_count %></dd>
    </dl>
  </section>
  <section>
    <h2>Notes</h2>
    <ul class="list-unstyled">
      <%= render partial: "note_text", collection: notes, as: :note %>
    </ul>
  </section>
<% else %>
  <p><%= missing_msg %> for <%= student.given_name %>.</p>
  <p>Would you like to <%= link_to "make the first note", new_student_note_path(student), class: "normal-link" %>?</p>
<% end %>
