<% if notes.exists? %>
  <section>
    <h2>Moods</h2>
    <% if notes.has_emotion_moods? %>
      <%= mood_percent_image("good", "Happy", notes) %>
      <%= mood_percent_image("neutral", "Neutral", notes) %>
      <%= mood_percent_image("bad", "Sad", notes) %>
    <% else %>
      <p>No moods recorded</p>
    <% end %>
  </section>
  <section>
    <h2>Comments</h2>
    <% if notes.has_text? %>
      <ul class="list-unstyled">
        <%= render partial: "note_text", collection: notes.with_text, as: :note %>
      </ul>
    <% else %>
      <p>No comments</p>
    <% end %>
  </section>
<% else %>
  <p><%= missing_msg %> for <%= student.given_name %>.</p>
  <p>Would you like to <%= link_to "make the first note", new_student_note_path(student), class: "normal-link" %>?</p>
<% end %>
