<nav role="navigation">
  <%= link_to root_path do %>
    <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
    Back
  <% end %>
  
  <h1>Participants</h1>
  
  <%= link_to new_student_path do %>
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    <span class="sr-only">Add participant</span>
  <% end %>
  
  <%= render "shared/search", model: :student, search_topic: "Participant", attr: :name %>
</nav>

<section>
  <h2>Sort by</h2>
  <ul>
    <li><%= link_to "First Name", students_path, sort: :given_name %></li>
    <li><%= link_to "Last Name", students_path, sort: :surname %></li>
    <li><%= link_to "Date Joined", students_path, sort: :joined_at %></li>
    <li><%= link_to "Age", students_path, sort: :age %></li>
  </ul>
</section>

<ul>
  <% students.each do |student| %>
  <li>
    <%= link_to student do %>
      <%= image_tag student.image, height: 50 %>
    <% end %>
    <p><strong><%= link_to student.full_name, student %></strong></p>
    <p>Age <%= student.age %></p>
    <p>Program participant since <%= student.joined_at %></p>
  </li>
  <% end %>
</ul>
