<%= render "shared/main_nav", back_path: students_path, title: "Participant Profile" %>

<section>
  <%= image_tag student.image, size: "100x100" %>
  <h2><%= student.full_name %></h2>
  <p>Age <%= student.age %></p>
  <p>Program participant since <%= student.joined_at %></p>
  <section>
    <h3>Triggers</h3>
    <ul>
      <% student.triggers.each do |trigger| %>
      <li><%= trigger.detail %></li>
      <% end %>
    </ul>
    <%= link_to "Edit", edit_student_triggers_path(student) %>
  </section>
  <section>
    <h3>Overview</h3>
    <p><%= student.overview_note %></p>
    <%= link_to "Edit", edit_note_path(student.overview_note) %>
  </section>
  <section>
    <h3>Other Information &amp; Notes</h3>
    <p><%= student.detail_note %></p>
    <%= link_to "Edit", edit_note_path(student.detail_note) %>
  </section>
</section>
