<%= render "shared/main_nav", back_path: students_path, title: "Participant Profile" %>

<main class="container" role="main">
  <%= render student %>
<div class="mainStudentContent">

  <!--   <ul class="nav nav-tabs">
  <li role="presentation" class="active">
      <a href="#public" aria-controls="public" role="tab" data-toggle="tab">Public</a>
  </li>
  <li role="presentation">
      <a href="#private" aria-controls="private" role="tab" data-toggle="tab">Private</a>
  </li>

   <li role="presentation" class="dropdown" id="sortDropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
      Order By: <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
      <li> Importance: High to Low </li>
      <li> Importance: Low to High </li>
      <li> Date: Recent to Oldest </li>
      <li> Date: Oldest to Recent </li>
      <li> Creator: Alphabetical </li>

    </ul> -->

   <!--   <% sort_categories.each do |text, attr| %>
      <button type="button" class="btn btn-default"><span class="subhead"> <%= link_to text, url_with_query(request.path_info, "sort=#{attr}") %></span></button>
      <% end %> -->

  <!-- <li role="presentation"><a href="#">Messages</a></li> -->
</ul>
</div>

 <!--  <ul class="nav nav-tabs" id="note-category-tablist" role="tablist">
    <li role="presentation" class="active">
      <a href="#public" aria-controls="public" role="tab" data-toggle="tab">Public</a>
    </li>
    <li role="presentation">
      <a href="#private" aria-controls="private" role="tab" data-toggle="tab">Private</a>
    </li>
  </ul> -->
      <!--  <button type="button" class="btn btn-default"><span class="subhead"> <%= link_to "Create New Note", new_student_note_path(student) %></span></button> -->

   <!-- <%= link_to "Create New Note", new_student_note_path(student), class: "btn btn-wide subhead" %> -->
  <ul class="tab-content" id="note-category-tabcontent">
    
    <li role="tabpanel" class="tab-pane active" id="public">
      <%= render "notes", notes: student.public_notes, student: student,
          missing_msg: "No public notes have been made" %>
    </li>
    <li role="tabpanel" class="tab-pane" id="private">
      <%= render "notes", notes: student.private_notes(user: current_user),
          student: student, missing_msg: "You have not made any private notes" %>
    </li>
<!-- </div>
 --></div>
</main>
