<%= render "shared/main_nav", back_path: students_path, title: "Participant Profile" %>

<main class="container" role="main">
  <section class="media well card">
    <div class="card-image">
      <%= image_tag student.image, height: "50%", class: "media-object" %>
    </div>
  </section>
  <section class="media">
    <div class="media-left">
      <h2 class="media-heading"><span class="cardTitle"><%= student.full_name %></span></h2>
      <p>Age <%= student.age %></p>
      <p>Joined: <%= student.joined_at.strftime("%B %Y") %></p>
      <div class="btn btn-default">
       <span class="subhead"> <%= link_to "+ New Note", new_student_note_path(student) %></span>
      </div>
    </div>
    <div class="media-right moodsDiv">
      <h2 class="media-heading"><span class="cardTitle">Mood Summary</span></h2>
          <% if student.notes.has_emotion_moods? %>
            <div class="moodsVisualization">
              <% Note.emotion_moods.each do |mood| %>
                <%= mood_percent_image(mood, student.notes) %>
              <% end %>
            </div>
            <div class="moodsNumeric">
              <% Note.emotion_moods.each do |mood| %>
              <%= t(mood, scope: [:activerecord, :attributes, :note, :moods]) %>:
              <%= student.notes.send("#{mood}_mood_count") %> <br/>
              <% end %>
            </div>
          <% else %>
            <p>No moods recorded</p>
          <% end %>
        </div>
  </section>

  <div class="mainStudentContent">
  </div>
  <% if student.notes.exists? %>
    <hr/>
    <div class="mainStudentContent">
      <div class="dropdown pull-right" id="sortDropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
          Order By: <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li><%= link_to "Importance: High to Low", url_with_query(sort_attr: :importance, sort_order: :desc) %></li>
          <li><%= link_to "Importance: Low to High", url_with_query(sort_attr: :importance, sort_order: :asc) %></li>
          <li><%= link_to "Date: Recent to Oldest", url_with_query(sort_attr: :created_at, sort_order: :desc) %></li>
          <li><%= link_to "Date: Oldest to Recent", url_with_query(sort_attr: :created_at, sort_order: :asc) %></li>
          <li><%= link_to "Creator: Alphabetical", url_with_query(sort_by_creator: :true) %></li>
        </ul>
      </div>
      <ul class="nav nav-tabs">
        <li role="presentation" class="active">
            <a href="#public" aria-controls="public" role="tab" data-toggle="tab">Public</a>
        </li>
        <li role="presentation">
            <a href="#private" aria-controls="private" role="tab" data-toggle="tab">Private</a>
        </li>
      </ul>
    </div>
    <ul class="tab-content" id="note-category-tabcontent">
      <li role="tabpanel" class="tab-pane active" id="public">
        <section>
          <% if public_notes.exists? %>
            <ul class="list-unstyled">
              <%= render public_notes %>
            </ul>
          <% else %>
            <p>No comments</p>
          <% end %>
        </section>
      </li>
      <li role="tabpanel" class="tab-pane" id="private">
        <section>
          <% if private_notes.exists? %>
            <ul class="list-unstyled">
              <%= render private_notes %>
            </ul>
          <% else %>
            <p>No comments</p>
          <% end %>
        </section>
      </li>
    </ul>
  <% else %>
    <p>No notes have been made for <%= student.given_name %>.</p>
    <p>Would you like to <%= link_to "make the first note", new_student_note_path(student), class: "normal-link" %>?</p>
  <% end %>
</main>
