<!-- <nav role="navigation">
  <div class="row" id="main-nav">
    <%= link_to back_path, class: "col-xs-2" do %>
      <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
      Back
    <% end %>
    <h1 class="col-xs-8"><%= title %></h1>
  </div>
  <div class="container">
    <%= logout_link %>
  </div>
</nav> -->


<!-- <nav class="navbar navbar-inverse"> -->
  <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Communicate to Care", students_path, class: "navbar-brand"%>

      <!-- # <a class="navbar-brand" href="#"> Communicate to Care </a> -->
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#"> Home <span class="sr-only">(current)</span></a></li>
        <li><%= link_to "Create New Note", new_note_students_path %></li>
        <!-- <li><%= link_to  %> </li> -->
        <li><a href="#"> Add Students to your Home </a></li>
        <li><a href="#"> Remove students from your home </a></li>
        <li> <%= link_to "Add new student to database", new_student_path %></li>
        <li><a href="#"> Remove student from database </a></li>
        <li><%= logout_link %> </li>
      </ul>
  
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>