<%= image_tag "Bgcalogo_small.png", alt: "Boys and Girls Club", size: "128x71" %>
<h1>
  Facilitating positive conversations and relationships with kids
  <small>Better notes means better help</small>
</h1>

<nav role="navigation">
  <ul>
    <li><%= link_to "View Participants", students_path %></li>
    <li><%= link_to "Create New Note", new_note_students_path %></li>
    <li><%= link_to "View Recent Notes", recent_notes_path %></li>
    <li><%= link_to "View Your Notes", notes_path %></li>
  </ul>
</nav>
